<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303884690400-8aaahj79jumkdk0aa149e0ed7iidc8k8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303884690400-8aaahj79jumkdk0aa149e0ed7iidc8k8</string>
	<key>API_KEY</key>
	<string>AIzaSyDoO-yfcuJRC38p3hKsRVzm6kHPnl3sW6g</string>
	<key>GCM_SENDER_ID</key>
	<string>303884690400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartFood.driver</string>
	<key>PROJECT_ID</key>
	<string>smartfooddriver</string>
	<key>STORAGE_BUCKET</key>
	<string>smartfooddriver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303884690400:ios:42b827612c6acbab250185</string>
</dict>
</plist>